<html>
  <div id="mycontent" dir="ltr">
    <p>
      MyFriends Journey helps you and your friends builds stronger bonds with
      each other and with God.
    </p>
    <p>The journey builds on foundation of:</p>
    <ol>
      <li>
        <strong>Caring</strong> about your friends. Get to know what is really
        going on in your friend's world. This involves moving beyond "How are
        you?" and knowing the answer to "How are you really?"
      </li>
      <li>
        Showing <strong>Love</strong>. In MyFriends we don't mean the
        sentimental or romantic ideas you see on TV. Love means putting the
        needs of your friends above your own needs. It is acting in their best
        interests, even when that is inconvenient.
      </li>
      <li>
        <strong>Prayer.</strong> Prayer is the way we connect with God. Many of
        our problems are too big for us to solve on our own. To see lasting
        change we need to see God change attitudes or circumstances.
      </li>
    </ol>
    <p>
      If God is important to you here are four actions you might want to take.
      These things may be new to you. That is OK. This is a journey and on the
      journey you will get better with these actions.
    </p>
    <p>
      If you feel God is very distant from you or you don't think He is doing
      anything in your life, you can pass on this set. Maybe one of your friends
      will be sharing with you what God is doing in their life. Listen. Ask
      questions. Remember they are your friend. You don't have to agree with
      everything they say.
    </p>
    <ol start="4">
      <li>
        <strong>Share what God is doing in your life.</strong> Be specific.
        Share your stories that have something in common with your friends'
        experiences and which they will find easy to identify with. Your friends
        will follow your story better if include comments about your emotions.
      </li>
      <li>
        <strong>Let your friends experience God.</strong> When they have needs,
        ask if you can pray for them. Keep your eyes open when you pray. Use
        everyday words that everyone will understand. Pray in Jesus' name. If
        the situation allows, let your friend pray after you. Then ask them if
        they saw God do anything response to the prayer.
      </li>
      <li>
        <strong>Connect your friend to God.</strong> Help them understand that
        He is not far away and that God is waiting for them to connect with Him.
        You may want to tell them how you became a follower of Jesus. If they
        are wanting to learn how to become a friend of God, you can show them
        <a href="/content/eng/myfriends/gospel.html"> this outline </a> or
        <a href="https://www.youtube.com/watch?v=NYU-a2wIbxc">
          draw this picture.
        </a>
      </li>
      <li>
        <strong>Release</strong>. Encourage your friend to tell their friends
        how they can become a friend of God.
      </li>
    </ol>
    <p>
      Once two or more of your friends want to discover God's story together:
    </p>
    <ol start="8">
      <li>
        <strong>Form a group.</strong> Ask your friends if they want to get
        together on a regular basis to talk about God. You might meet weekly,
        fortnightly or for special events. We suggest using the outlines for
        <a href="/content/eng/myfriends/principles.html">
          Sightseeing: Life Issues
        </a>
      </li>
      <li>
        <strong>Discover the Basics</strong>. Once you have a group of three to
        seven people who want to go through God’s story together, you can begin
        going through<a href="/content/eng/myfriends/basics.html">
          Journey One: The Basics.
        </a>
      </li>
      <li>
        <strong>Celebrate</strong>. Important decisions in our lives are
        celebrated with the people who are matter to us. The decision to follow
        Jesus is celebrated in baptism. Here are some ideas on
        <a href="#celebrate">how to organise a baptism party</a> where you can
        invite your family, friends and community.
      </li>
      <li>
        <strong>Live Community:</strong>Faith is best lived out doing life
        together with friends who are sharing the same journey. Here is an
        <a href="/content/eng/myfriends/community.html">outline </a>that you can
        follow with any Bible passage once you have completed the Journey One.
      </li>
    </ol>
    <p>
      Here is a coin which can serve as a reminder of the steps in this journey
    </p>
    <p>
      <img src="/images/chip/chip-eng.png" class="myfriends-opening" />
    </p>
    <p>
      For further information about the MyFriends Journey<a
        href="http://hereslife.com/myfriends"
      >
        visit our website
      </a>
    </p>
    <p>&nbsp;</p>
  </div>
</html>
