<html>
  <div class="myfriends-lesson_div">
    <div class="myfriends-lesson_title" id="title">
      10. New Life
    </div>
  </div>
  <div class="lesson">
    <img src="/images/review.png" class="lesson-icon" />
    <div class="lesson-subtitle">SHARING LIFE</div>
  </div>
  <ul class="ltr">
    <li>How have you experienced God this week?</li>
    <li>Do you need any help from God in your life?</li>
  </ul>
  <p class="triangle">
    ▶ Pray together: Thank God for experiences, ask for God‘s help.
  </p>
  <div class="lesson">
    <img src="/images/review.png" class="lesson-icon" />
    <div class="lesson-subtitle">REVIEW</div>
  </div>
  <ul>
    <li>What did we discuss last time?</li>
    <li>Were you able to complete the process of forgiveness?</li>
  </ul>
  <p>
    ▶ Pray together, that you may get to know new aspects of God and that your
    friendship with God would be strengthened and become deeper.
  </p>
  <p class="normal" />
  <div class="lesson">&nbsp;</div>
  <div class="lesson">
    <strong>EXPLANATION</strong>
  </div>
  <div class="lesson">
    The following Bible study is about baptism. Because the term “baptism” has
    many different uses nowadays, it‘s important that we explain what is meant
    by the word “baptism”.
  </div>
  <div class="lesson">&nbsp;</div>
  <div class="lesson">
    Different people will mean different things when they use the word
    “baptism”.Here are some examples:
  </div>
  <div class="lesson">
    <ul>
      <li>Asking God‘s blessing for a child</li>
      <li>Washing off original sin</li>
      <li>Defining your religious affiliation</li>
      <li>Naming a child</li>
      <li>Ceremony for instating godfather / godmother</li>
    </ul>
  </div>
  <div class="lesson">&nbsp;</div>
  <div class="lesson">
    All of these baptism “types” have a place in their own right, but that is
    not what is meant here by baptism. In our Bible passage for today, baptism
    means:
  </div>
  <div class="lesson">
    <ul>
      <li>A decision that an adults make about themselves</li>
      <li>The complete submergence of a person (pictures)</li>
      <li>
        A symbolic action with two elements which the following Bible passage
        will explain.
      </li>
    </ul>
  </div>
  <div class="lesson">
    <img src="/images/bible-study.png" class="lesson-icon" />
    <div class="lesson-subtitle">BIBLE STUDY</div>
  </div>
  <ul class="ltr">
    <li>Read the text quietly</li>
    <li>Read the text out loud</li>
    <li>Retell the text (from memory – closed Bibles)</li>
    <li>Contributions from the group to complement</li>
  </ul>
  <div id="bible" class="bible">
    <div class="bible">
      <p class="reference">Romans 6:3-14</p>
      <p>
        <sup>3</sup>Or don’t you know that all of us who were
        baptized into Christ Jesus were baptized into his death?<sup >
          4
        </sup>We were therefore buried with him through baptism into death in
        order that, just as Christ was raised from the dead through the glory of
        the Father, we too may live a new life.
      </p>
      <p>
        <sup >5</sup>For if we have been united with
        him in a death like his, we will certainly also be united with him in a
        resurrection like his.<sup >6</sup>For we know
        that our old self was crucified with him so that the body ruled by sin
        might be done away with, that we should no longer be slaves to sin—<sup >
          7
        </sup>because anyone who has died has been set free from sin.
      </p>
      <p>
        <sup >8</sup>Now if we died with Christ, we
        believe that we will also live with him.<sup >
          9
        </sup>For we know that since Christ was raised from the dead, he cannot
        die again; death no longer has mastery over him.<sup >
          10
        </sup>The death he died, he died to sin once for all; but the life he
        lives, he lives to God.
      </p>
      <p>
        <sup >11</sup>In the same way, count
        yourselves dead to sin but alive to God in Christ Jesus.<sup >
          12
        </sup>Therefore do not let sin reign in your mortal body so that you
        obey its evil desires.<sup >13</sup>Do not
        offer any part of yourself to sin as an instrument of wickedness, but
        rather offer yourselves to God as those who have been brought from death
        to life; and offer every part of yourself to him as an instrument of
        righteousness.<sup >14</sup>For sin shall no
        longer be your master, because you are not under the law, but under
        grace.
      </p>

      <br />
      <a
        href="https://biblegateway.com/passage/?search=Romans%206:3-14&amp;version=NIV"
        external="1"
        class="readmore"
      >
        Read More
      </a>
      <br />
      <br />
    </div>
  </div>
  <h2 class="myfriends-biblestudy">
    <span style="font-size: 1.385em;">General questions:</span>&nbsp;
  </h2>
  <ul>
    <li>Is there anything that struck you in this text?</li>
    <ul>
      <li>What do you like about it?</li>
      <li>Is there anything in it that bothers you?</li>
    </ul>
    <li>&nbsp;What does it say about God?</li>
    <li>What does it say about people?</li>
  </ul>
  <h2 class="myfriends-biblestudy">
    <span style="font-size: 1.385em;">Specific questions</span>&nbsp;
  </h2>
  <ul>
    <li>
      What are the two elements that are symbolically represented by baptism?
    </li>
    <li>
      The choice of words is pretty extreme. Dying is something that cannot
      be&nbsp; undone. Why is such extreme language being used here?
    </li>
    <li>
      Can you imagine taking such a radical decision and getting baptized?
    </li>
  </ul>
  <h2 class="myfriends-biblestudy" style="display: inline !important;">
    &nbsp;
  </h2>
  <h2 class="myfriends-biblestudy" />
  <div class="lesson">
    <img src="/images/challenges.png" class="lesson-icon" />
    <div class="lesson-subtitle">CHALLENGES</div>
  </div>
  <ul>
    <li>
      Think about whether you are ready to get baptized or not. Keep in mind
      that the process of forgiveness from basic Bible study 9 should be
      completed before baptism.
    </li>
    <li>Plan a party!</li>
    <li>
      IMPORTANT: Anything said during such processes of forgiveness is highly
      confidential and may not be passed on under any circumstances!!!
    </li>
    <li>
      With this lesson we have reached the end of the basics. Now it is up to
      you to decide whether you want to continue with life principles or if you
      want to discover the books of the Bible with the family-time routine.
    </li>
  </ul>
  <p class="triangle" />
  <p class="normal" />
  <div id="background_note">
    <div class="lesson">
      <img src="/images/background.png" class="lesson-icon" />
      <div class="lesson-subtitle">
        COMMENTARY ON THE TEXT:&nbsp;
      </div>
    </div>
    <div class="background-text">
      <div class="background-text">
        <div class="background-text">
          Baptism is about definitely ending your life without God and
          entrusting yourself to God completely. Going under water symbolizes
          dying and being buried, coming up again symbolizes the resurrection to
          a new life with God.
        </div>
        <div class="background-text">
          The decision to be baptized is one of the most important and
          far-reaching consequences you can make. But if you have come to know
          Jesus personally and decided to live with Jesus, then baptism is the
          next logical step. If you have received forgiveness yourself and
          forgiven others, if you have aligned your life with God and want to
          live with Jesus as friend, example and authority, then it is time to
          end your old life without God in a solemn and festive ceremony, and
          from then on to live with Jesus as a new born person.
        </div>
        <div class="background-text" />
        <div class="background-text">
          Celebrate the decision: Important decisions in our lives are
          celebrated appropriately. That is why we have birthdays, weddings and
          many other celebrations. Baptism should also be celebrated
          appropriately. Why don‘t you organize a real baptism party where you
          can invite your family, friends and community. That will give baptism
          the significance it deserves and is also a good opportunity for
          friends who don‘t believe in Jesus yet to meet him.
        </div>
        <p>&nbsp;</p>
      </div>
      <p class="normal" />
    </div>
  </div>
  <div id="completed" />
  <div class="lesson">&nbsp;</div>
  <p class="myfriends-lesson_end" />
  <p class="normal" />
</html>
