<html>
  <div class="lesson">
    <img class="lesson-icon" src="/images/sharing-life.png" />
    <div class="lesson-subtitle">SHARE</div>
  </div>
  <div class="ol">
    <ol class="ltr">
      <li>How have you experienced God this week?</li>
      <li>What are you thankful for?</li>
      <li>What do you need God’s help for?</li>
      <li>How can we help you with your needs?</li>
      <li>Pray for each other</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/review.png" />
    <div class="lesson-subtitle">REVIEW</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="6">
      <li>What have you put into practice since our last meeting?</li>
      <li>
        How are the people that you are caring for going? What would help them
        most?
      </li>
      <li>
        Were you able to share a God experience with anyone? Did you pray with
        them?
      </li>
      <li>Pray for these people</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/bible-study.png" />
    <div class="lesson-subtitle">READ</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="10">
      <li>Read the passage aloud twice.</li>
      <li>
        Have one person retell the passage in their own words with the group’s
        help.
      </li>
      <li>Was there anything missed or added?</li>
    </ol>
  </div>
  <div id="bible">
    <div class="bible">
      <p class="myfriends-reference">Isaiah 52:13-53:12</p>
      <div>
        <sup>13</sup>See, my servant will act wisely;<br />&nbsp;&nbsp;&nbsp;&nbsp;he
        will be raised and lifted up and highly exalted.<br />
        <sup>14</sup>Just as there were many who were appalled at him—<br />&nbsp;&nbsp;&nbsp;&nbsp;his
        appearance was so disfigured beyond that of any human being<br />&nbsp;&nbsp;&nbsp;&nbsp;and
        his form marred beyond human likeness—<br />
        <sup>15</sup>so he will sprinkle many nations,<br />&nbsp;&nbsp;&nbsp;&nbsp;and
        kings will shut their mouths because of him.<br />For what they were not
        told, they will see,<br />&nbsp;&nbsp;&nbsp;&nbsp;and what they have not
        heard, they will understand
      </div>
      <p>
        <sup>53:1</sup>Who has believed our message<br />&nbsp;&nbsp;&nbsp;&nbsp;and
        to whom has the arm of the
        <span class="small-caps">Lord</span>
        been revealed?<br />
        <sup>2</sup>He grew up before him like a tender shoot,<br />&nbsp;&nbsp;&nbsp;&nbsp;and
        like a root out of dry ground.<br />He had no beauty or majesty to
        attract us to him,<br />&nbsp;&nbsp;&nbsp;&nbsp;nothing in his
        appearance that we should desire him.<br />
        <sup>3</sup>He was despised and rejected by mankind,<br />&nbsp;&nbsp;&nbsp;&nbsp;a
        man of suffering, and familiar with pain.<br />Like one from whom people
        hide their faces<br />&nbsp;&nbsp;&nbsp;&nbsp;he was despised, and we
        held him in low esteem.
      </p>
      <div class="myfriends-poetry top-05">
        <p>
          <sup>4</sup>Surely he took up our pain<br />&nbsp;&nbsp;&nbsp;&nbsp;and
          bore our suffering,<br />yet we considered him punished by God,<br />&nbsp;&nbsp;&nbsp;&nbsp;stricken
          by him, and afflicted.<br />
          <sup>5</sup>But he was pierced for our transgressions,<br />&nbsp;&nbsp;&nbsp;&nbsp;he
          was crushed for our iniquities;<br />the punishment that brought us
          peace was on him,<br />&nbsp;&nbsp;&nbsp;&nbsp;and by his wounds we
          are healed.<br />
          <sup>6</sup>We all, like sheep, have gone astray,<br />&nbsp;&nbsp;&nbsp;&nbsp;each
          of us has turned to our own way;<br />and the
          <span class="small-caps">Lord</span>
          has laid on him<br />&nbsp;&nbsp;&nbsp;&nbsp;the iniquity of us all.
        </p>
      </div>
      <div class="myfriends-poetry top-05">
        <p>
          <sup>7</sup>He was oppressed and afflicted,<br />&nbsp;&nbsp;&nbsp;&nbsp;yet
          he did not open his mouth;<br />he was led like a lamb to the
          slaughter,<br />&nbsp;&nbsp;&nbsp;&nbsp;and as a sheep before its
          shearers is silent,<br />&nbsp;&nbsp;&nbsp;&nbsp;so he did not open
          his mouth.<br />
          <sup>8</sup>By oppression and judgment he was taken away.<br />&nbsp;&nbsp;&nbsp;&nbsp;Yet
          who of his generation protested?<br />For he was cut off from the land
          of the living;<br />&nbsp;&nbsp;&nbsp;&nbsp;for the transgression of
          my people he was punished.<br />
          <sup>9</sup>He was assigned a grave with the wicked,<br />&nbsp;&nbsp;&nbsp;&nbsp;and
          with the rich in his death,<br />though he had done no violence,<br />&nbsp;&nbsp;&nbsp;&nbsp;nor
          was any deceit in his mouth.
        </p>
      </div>
      <div class="myfriends-poetry top-05">
        <p>
          <sup>10</sup>Yet it was the
          <span class="small-caps">Lord </span>’s will to crush him and cause
          him to suffer,<br />&nbsp;&nbsp;&nbsp;&nbsp;and though the
          <span class="small-caps">Lord</span>
          makes his life an offering for sin,<br />he will see his offspring and
          prolong his days,<br />&nbsp;&nbsp;&nbsp;&nbsp;and the will of the
          <span class="small-caps">Lord</span>
          will prosper in his hand.<br />
          <sup>11</sup>After he has suffered,<br />&nbsp;&nbsp;&nbsp;&nbsp;he
          will see the light of life and be satisfied;<br />by his knowledge my
          righteous servant will justify many,<br />&nbsp;&nbsp;&nbsp;&nbsp;and
          he will bear their iniquities.<br />
          <sup>12</sup>Therefore I will give him a portion among the great,<br />&nbsp;&nbsp;&nbsp;&nbsp;and
          he will divide the spoils with the strong,<br />because he poured out
          his life unto death,<br />&nbsp;&nbsp;&nbsp;&nbsp;and was numbered
          with the transgressors.<br />For he bore the sin of many,<br />&nbsp;&nbsp;&nbsp;&nbsp;and
          made intercession for the transgressors.
        </p>
        <p>
          <br />
          <a
            class="readmore"
            href="https://biblegateway.com/passage/?search=Isaiah%2053:1-12&amp;version=NIV"
          >
            Read More
          </a>
          <br />
          <br />
        </p>
        <p class="myfriends-reference">John 1:29-34</p>
        <p>
          <sup>29</sup>The next day John saw Jesus coming toward him and said,
          “Look, the Lamb of God, who takes away the sin of the world!<sup>
            30
          </sup>This is the one I meant when I said, ‘A man who comes after me
          has surpassed me because he was before me.’<sup> 31&nbsp; </sup>I
          myself did not know him, but the reason I came baptizing with water
          was that he might be revealed to Israel.”
        </p>
        <p>
          <sup>32</sup>Then John gave this testimony: “I saw the Spirit come
          down from heaven as a dove and remain on him.<sup>33</sup>And I myself
          did not know him, but the one who sent me to baptize with water told
          me, ‘The man on whom you see the Spirit come down and remain is the
          one who will baptize with the Holy Spirit.’<sup>34&nbsp; </sup>I have
          seen and I testify that this is God’s Chosen One.”
        </p>
        <p>
          <br />
          <a
            class="readmore"
            href="https://biblegateway.com/passage/?search=John%201:29-34&amp;version=NIV"
          >
            Read More
          </a>
          <br />
          <br />
        </p>
      </div>
    </div>
  </div>

  <div class="lesson">
    <img class="lesson-icon" src="/images/discover.png" />
    <div class="lesson-subtitle">DISCOVER</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="13">
      <li>What stands out for you in this passage?</li>
      <li>What do you like and what bothers you in this passage?</li>
      <li>What does this passage tell you about God and people?</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/challenges.png" />
    <div class="lesson-subtitle">APPLY</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="16">
      <li>
        Ask God what He wants you to do in response to the passage. Is there:
        <ul>
          <li>A behaviour to change?</li>
          <li>A promise to claim?</li>
          <li>An example to follow?</li>
          <li>A command to obey?</li>
        </ul>
      </li>
      <li>Share this with the group</li>
    </ol>
  </div>
  <div id="background_note">
    <div class="lesson">
      <img class="lesson-icon" src="/images/background.png" />
      <div class="lesson-subtitle">Notes</div>
    </div>
    <div class="background-text">
      <p class="myfriends-lesson_start" dir="ltr">
        Last time we read about God announcing a new age. Today we will learn
        about how this is to come about (a practical plan). God will send “his
        servant”. That means a man who will live exactly as God wants us to.
        Despite committing no sin or wrong, this man will die like a criminal.
        For the mission of God’s servant will be to take humankind’s sickness,
        pain and sin upon himself. This will not be a pretty sight, quite the
        opposite.
      </p>
      <p dir="ltr">
        The people around him will despise and turn away from him. They will
        think that he is a criminal who is being punished by God for his awful
        deeds. But really he will not be punished for what he himself did, but
        for what all humans under the influence of evil have done. This servant
        of God will take the responsibility for our wrong doing. He will be
        executed instead of us sinful people so we can have peace again; peace
        with God and peace with others.
      </p>
      <p dir="ltr" />
    </div>
  </div>
</html>
