<html>
  <div id="mycontent" dir="ltr">
    <p class="lesson_start" dir="ltr" />
    <div class="lesson" dir="ltr">
      <img src="/images/sharing-life.png" class="lesson-icon" />
      <div class="lesson-subtitle">SHARE</div>
    </div>
    <ol dir="ltr">
      <li>How have you experienced God this week?</li>
      <li>What are you thankful for?</li>
      <li>What do you need God’s help for?</li>
      <li>How can we help you with your needs?</li>
      <li>Pray for each other</li>
    </ol>
    <div class="lesson" dir="ltr">
      <img src="/images/review.png" class="lesson-icon" />
      <div class="lesson-subtitle">REVIEW</div>
    </div>
    <ol dir="ltr" start="6">
      <li>What have you put into practice since our last meeting?</li>
      <li>
        How are the people that you are caring for going? What would help them
        most?
      </li>
      <li>
        Were you able to share a God experience with anyone? Did you pray with
        them?
      </li>
      <li>Pray for these people</li>
    </ol>
    <div class="lesson" dir="ltr">
      <h3>JESUS FILM</h3>
    </div>
    <p dir="ltr" />
    <p dir="ltr">
      Watch the JESUS film (available at
      <a href="https://www.jesusfilm.org/watch/jesus.html/english.html">
        jesusfilm.org/watch.html
      </a>)
    </p>
    <p dir="ltr" />
    <p dir="ltr">
      This is an accurate depiction of the life, teaching and suffering of
      Jesus. There are three ways you can decide to watch this film:
    </p>
    <ul dir="ltr">
      <li>
        As a historic film: In this case everything shown in the film becomes a
        story that happened 2000 years ago and has no relevance for us nowadays.
      </li>
      <li>
        As the salvation of humanity: If you watch the film from this point of
        view, then Jesus died for the sins of the entire human race and it does
        not really concern me much since I am just one in billions.
      </li>
      <li>
        As the price for MY salvation: If we watch the film from the point of
        view that Jesus suff ered for ME personally, then we will be able to
        understand what really happened. It is important to make ourselves aware
        again and again that this film is about US. Someone suffered the worst
        torture to free ME from the power of evil and to make me free to choose
        God’s way again.
      </li>
    </ul>
    <p dir="ltr">
      Decide how much of the movie you will watch together. If you do not have
      time for the entire movie consider starting at the one hour mark. This
      will give still give you examples of Jesus teaching and miracles before He
      goes to Jerusalem to suff er and die.
    </p>
    <h3 dir="ltr">Stop at 1:15</h3>
    <ol dir="ltr" start="10">
      <li>What has impressed you about what Jesus has said or done so far?</li>
      <li>How has Jesus described His mission or purpose (see 1:14)</li>
      <li>What has Jesus forecast will happen to Him? (1:15)</li>
    </ol>
    <h3 dir="ltr">Stop at 1:43</h3>
    <ol dir="ltr" start="13">
      <li>What is Pilate’s attitude toward Jesus?</li>
      <li>Why does Pilate have Jesus punished?</li>
    </ol>
    <p dir="ltr">After the film</p>
    <ol dir="ltr" start="15">
      <li>What does it mean to me that Jesus suffered so much for me?</li>
    </ol>
    <div class="lesson" dir="ltr">
      <img src="/images/challenges.png" class="lesson-icon" />
      <div class="lesson-subtitle">CHALLENGES</div>
    </div>
    <ol dir="ltr" start="16">
      <li>Do you want to place your trust in Jesus today?</li>
      <li>
        Where do I have an opportunity in the next week to share my experiences
        with God with someone and invite them to start a friendship with God?
      </li>
    </ol>
    <div id="background_note" dir="ltr" />
    <p class="lesson_end" dir="ltr" />
  </div>
</html>
