<html>
  <div class="myfriends-lesson_div">
    <div class="myfriends-lesson_title" id="title">
      9. Wise or Foolish?
    </div>
  </div>
  <div class="lesson">
    <img src="/images/review.png" class="lesson-icon" />
    <div class="lesson-subtitle">SHARING LIFE</div>
  </div>
  <ul class="ltr">
    <li>How have you experienced God this week?</li>
    <li>Do you need any help from God in your life?</li>
  </ul>
  <p class="triangle">
    ▶ Pray together: Thank God for experiences, ask for God‘s help.
  </p>
  <p>
    ▶ Pray together, that you may get to know new aspects of God and that your
    friendship with God would be strengthened and become deeper.
  </p>
  <p class="normal" />
  <div class="lesson">
    <img src="/images/bible-study.png" class="lesson-icon" />
    <div class="lesson-subtitle">BIBLE STUDY</div>
    <div class="lesson-subtitle">
      <div class="lesson-subtitle" />
      <div class="lesson-subtitle">
        In Matthew 7:24 Jesus describes one of the most important principles
        regarding the way we should read the Bible, using a parable. James
        summarizes the same topic in just one sentence.
      </div>
    </div>
  </div>
  <ul class="ltr">
    <li>Read the text quietly</li>
    <li>Read the text out loud</li>
    <li>Retell the text (from memory – closed Bibles)</li>
    <li>Contributions from the group to complement</li>
  </ul>
  <div id="bible" class="bible">
    <div class="bible">
      <p class="reference">Matthew 7:24-29</p>
      <p>
        <sup>24</sup>“Therefore everyone who hears these words
        of mine and puts them into practice is like a wise man who built his
        house on the rock.<sup >25</sup>The rain came
        down, the streams rose, and the winds blew and beat against that house;
        yet it did not fall, because it had its foundation on the rock.<sup >
          26
        </sup>But everyone who hears these words of mine and does not put them
        into practice is like a foolish man who built his house on sand.<sup >
          27
        </sup>The rain came down, the streams rose, and the winds blew and beat
        against that house, and it fell with a great crash.”
      </p>
      <p>
        <sup >28</sup>When Jesus had finished saying
        these things, the crowds were amazed at his teaching,<sup >
          29
        </sup>because he taught as one who had authority, and not as their
        teachers of the law.
      </p>

      <br />
      <a
        href="https://biblegateway.com/passage/?search=Matthew%207:24-29&amp;version=NIV"
        external="1"
        class="readmore"
      >
        Read More
      </a>
      <br />
      <br />
      <p class="reference">James 1:22</p>
      <p>
        <sup>22</sup>Do not merely listen to the word, and so
        deceive yourselves. Do what it says.
      </p>

      <br />
      <a
        href="https://biblegateway.com/passage/?search=James%201:22&amp;version=NIV"
        external="1"
        class="readmore"
      >
        Read More
      </a>
      <br />
      <br />
    </div>
  </div>
  <h2 class="myfriends-biblestudy">
    <span style="font-size: 1.385em;">General questions:</span>&nbsp;
  </h2>
  <ul>
    <li>Is there anything that struck you in this text?</li>
    <ul>
      <li>What do you like about it?</li>
      <li>Is there anything in it that bothers you?</li>
    </ul>
    <li>&nbsp;What does it say about God?</li>
    <li>What does it say about people?</li>
  </ul>
  <h2 class="myfriends-biblestudy">
    <span style="font-size: 1.385em;">Specific questions </span>&nbsp;
  </h2>
  <ul>
    <li>
      For the following more specific questions let‘s connect it with the topic
      of last time and so become “doers of the word” with regard to
      forgiveness.&nbsp;
    </li>
    <ul>
      <li>
        Are you a doer of the word when it comes to asking God&nbsp; &nbsp;for
        the forgiveness of sins you have committed (Matthew 6:9-15)?
      </li>
      <li>
        Did you ask God to forgive your sins in bulk, or did you really confess
        the individual sins before him (1 John 1:9)?
      </li>
    </ul>
    <li>
      Are you a doer of the word when it comes to forgiving people who have
      sinned against you&nbsp; &nbsp;(Matthew 6:9-15)?
    </li>
    <ul>
      <li>
        Did you just forgive others in bulk or did you really bring each person
        individually before God?
      </li>
    </ul>
  </ul>
  <h2 class="myfriends-biblestudy" />
  <div class="lesson">
    <img src="/images/challenges.png" class="lesson-icon" />
    <div class="lesson-subtitle">CHALLENGES</div>
  </div>
  <ul>
    <li>
      &nbsp;Become doers of the word. Plan when and where you are able to
      meet&nbsp; (ideally in groups of three) to go through the process of
      forgiveness together. When you forgive or ask for forgiveness, please say
      it in turn and out loud so that the others can hear and be a witness to
      that forgiveness.
    </li>
    <ul>
      <li>
        IMPORTANT: Anything said during such processes of forgiveness is highly
        confidential and may not be passed on under any circumstan-&nbsp; ces!!!
      </li>
      <li>
        Take your time. The process of forgiveness is much too important for
        it&nbsp; &nbsp;to be rushed. You will probably need more meetings since
        this is about&nbsp; &nbsp;sorting out the guilt of your whole past.
      </li>
      <li>Start with session 10 when the whole process is finished.</li>
    </ul>
    <li>
      Where do I have an opportunity in the next week to share my experiences
      with God with someone and invite them to start a friendship with God?
    </li>
  </ul>
  <p class="triangle" />
  <p class="normal" />
  <div id="background_note">
    <div class="lesson">&nbsp;</div>
    <div class="background-text">
      <p>
        <span class="normal" />
      </p>
      <p class="normal" />
    </div>
  </div>
  <div id="completed" />
  <div class="lesson">&nbsp;</div>
  <p class="myfriends-lesson_end" />
  <p class="normal" />
</html>
