<html>
  <div class="myfriends-lesson_div">
    <div class="myfriends-lesson_title" id="title">
      8. Talking with God
    </div>
  </div>
  <div class="lesson">
    <img src="/images/review.png" class="lesson-icon" />
    <div class="lesson-subtitle">SHARING LIFE</div>
  </div>
  <ul class="ltr">
    <li>How have you experienced God this week?</li>
    <li>Do you need any help from God in your life?</li>
  </ul>
  <p class="triangle">
    ▶ Pray together: Thank God for experiences, ask for God‘s help.
  </p>
  <div class="lesson">
    <img src="/images/review.png" class="lesson-icon" />
    <div class="lesson-subtitle">REVIEW</div>
  </div>
  <ul>
    <li>What did we discuss last time?</li>
    <li>
      Tell each other what went through your mind when you thought about someone
      who gave their life for you.&nbsp;
    </li>
    <li>
      &nbsp;Could you tell anyone about your experiences with God last
      week?&nbsp; How did they respond?&nbsp;
    </li>
  </ul>
  <p>
    ▶ Pray together, that you may get to know new aspects of God and that your
    friendship with God would be strengthened and become deeper.
  </p>
  <p class="normal" />
  <div class="lesson">
    <img src="/images/bible-study.png" class="myfriends-study" />
    <div class="lesson-subtitle">BIBLE STUDY&nbsp;</div>
    <div class="lesson-subtitle">
      Although through Jesus‘ suffering, death and resurrection all sins of all
      people of all time can be forgiven, it does not mean that since sins are
      just forgiven automatically. Jesus created the possibility for forgiveness
      which we can now use.&nbsp;
    </div>
  </div>
  <ul class="ltr">
    <li>Read the text quietly</li>
    <li>Read the text out loud</li>
    <li>Retell the text (from memory – closed Bibles)</li>
    <li>Contributions from the group to complement</li>
  </ul>
  <div id="bible" class="bible">
    <div class="bible">
      <p class="reference">Matthew 6:9-15</p>
      <p>
        <sup>9</sup>“This, then, is how you should pray:
      </p>
      <div class="myfriends-poetry top-05">
        <p>
          “‘Our Father in heaven,<br />hallowed be your name,<br />
          <sup >10</sup>your kingdom come,<br />your
          will be done,<br />&nbsp;&nbsp;&nbsp;&nbsp;on earth as it is in
          heaven.<br />
          <sup >11</sup>Give us today our daily bread.<br />
          <sup >12</sup>And forgive us our debts,<br />&nbsp;&nbsp;&nbsp;&nbsp;as
          we also have forgiven our debtors.<br />
          <sup >13</sup>And lead us not into
          temptation,<br />&nbsp;&nbsp;&nbsp;&nbsp;but deliver us from the evil
          one.’
        </p>
      </div>
      <p>
        <sup >14</sup>For if you forgive other people
        when they sin against you, your heavenly Father will also forgive you.<sup >
          15
        </sup>But if you do not forgive others their sins, your Father will not
        forgive your sins.
      </p>

      <br />
      <a
        href="https://biblegateway.com/passage/?search=Matthew%206:9-15&amp;version=NIV"
        external="1"
        class="readmore"
      >
        Read More
      </a>
      <br />
      <br />
    </div>
  </div>
  <h2 class="myfriends-biblestudy">
    <span style="font-size: 1.385em;" />
  </h2>
  <h2 class="myfriends-biblestudy">
    <span style="font-size: 1.385em;">Specific questions</span>&nbsp;
  </h2>
  <ul>
    <li>
      Which two things do we have to do for our sins to be forgiven?&nbsp;
      &nbsp;(1. Ask God for forgiveness, 2. Forgive other people)
    </li>
  </ul>
  <p>
    Since this text focusses on forgiveness, it‘s worth taking a closer look at
    this old, multifaceted word.
  </p>
  <ul>
    <li>
      &nbsp;When God forgives us, it means that he no longer charges us with
      guilt That is possible now because Jesus suffered and died for us. He took
      the&nbsp; consequences of our sins which we should have&nbsp;suffered
      ourselves so that we can become free.&nbsp; On the basis of this fact, God
      no longer charges us&nbsp; with guilt, although we are guilty, pardoning
      us instead. Although we are actually guilty we are declared righteous by
      God. And that forms the basis for our reconciliation with God. What a
      privilege!
    </li>
    <li>
      When we forgive people who have sinned against us, it does not mean that
      we forget, deny or gloss over what happened. In this context “forgiving”
      means letting go. We can hand over the whole thing to God for him to deal
      with it. And God will not just forget it but deal with it in his perfect
      way. No longer do we have to get our own back, instead we can confidently
      leave it to God, for he says “It is mine to avenge, I will repay”
      (Deuteronomy 32:35 / Romans 12:19). We need to leave the way in which God
      does that up to him. For God‘s ways and thoughts are higher than ours
      (Isaiah 55:9).&nbsp;
    </li>
    <li>
      &nbsp;When we forgive someone and thus hand the whole thing over to God,
      we and our relationship with that person are freed from the burden of that
      sin. We no longer need to bear a grudge. Instead we are able to live
      unburdened and interact with that person because there is no longer any
      guilt between us.
    </li>
  </ul>
  <p>
    <span style="font-size: 1.385em; font-weight: bold;" />
  </p>
  <div class="lesson">
    <img src="/images/challenges.png" class="lesson-icon" />
    <div class="lesson-subtitle">CHALLENGES</div>
  </div>
  <ul>
    <li>
      Make a list with all the sins which you have done in your lifetime so you
      know what you need to ask God‘s forgiveness for.
    </li>
    <li>
      Make a list with the things people have done to you, so that you can
      forgive them.
    </li>
    <li>
      Where do I have an opportunity in the next week to share my experiences
      with God with someone and invite them to start a friendship with God?
    </li>
  </ul>
  <p class="triangle" />
  <p class="normal" />
  <div id="background_note">
    <div class="background-text">
      <p>
        <span class="normal" />
      </p>
      <p class="normal" />
    </div>
  </div>
  <div id="completed" />
  <div class="lesson">&nbsp;</div>
  <p class="myfriends-lesson_end" />
  <p class="normal" />
</html>
