<html>
<div class="myfriends-lesson_div">
    <div class="myfriends-lesson_title" id = "title">5. A New Agreement</div>
</div>
<div class="lesson">
    <img src = "/images/review.png" class="lesson-icon" />
    <div class="lesson-subtitle">SHARING LIFE</div>
</div>
    <ul class="ltr">
        <li>How have you experienced God this week?</li>
        <li>Do you need any help from God in your life?</li>
    </ul>
    <p class="triangle">▶ Pray together: Thank God for experiences, ask for God‘s help.</p>
    <div class="lesson">
        <img src = "/images/review.png" class="lesson-icon" />
        <div class="lesson-subtitle">REVIEW</div>
    </div>
    <ul>
        <li>How well could you keep God‘s ten basic rules?&nbsp; 
        Which ones were easier? Which were more difficult?&nbsp; Share your observations.</li>
    </ul>
    <p>▶ Pray together, that you may get to know new aspects of God and that your friendship with God would be strengthened and become deeper.</p>
    <p></p>
    <div class="lesson">
        <img src = "/images/bible-study.png" class="lesson-icon" />
        <div class="lesson-subtitle">BIBLE STUDY</div>
    </div>
    <ul class="ltr"><
        li>Read the text quietly</li>
        <li>Read the text out loud</li>
        <li>Retell the text (from memory – closed Bibles)</li><li>Contributions from the group to complement</li>
    </ul>
    <div id="bible" class="bible">
        <div class="bible"></div>
            <p class="myfriends-reference">Jeremiah 31:31-34</p>
            <div>
                <sup>31</sup>“The days are coming,” declares the <span class="small-caps" >Lord,</span>
                <br />&nbsp;&nbsp;&nbsp;&nbsp;“when I will make a new covenant<br />
                with the people of Israel<br />&nbsp;&nbsp;&nbsp;&nbsp;and with the people of Judah.<br />
                <sup >32</sup>It will not be like the covenant<br />
                &nbsp;&nbsp;&nbsp;&nbsp;I made with their ancestors<br />when I took them by the hand<br />
                &nbsp;&nbsp;&nbsp;&nbsp;to lead them out of Egypt,<br />because they broke my covenant,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;though I was a husband to them,”<br />declares the <
                span class="small-caps" >Lord</span>.<br /><sup >
                33</sup>“This is the covenant I will make with the people of Israel<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;after that time,” declares the <span class="small-caps" >
                Lord.</span><br />“I will put my law in their minds<br />
                &nbsp;&nbsp;&nbsp;&nbsp;and write it on their hearts.<br />
                I will be their God,<br />&nbsp;&nbsp;&nbsp;&nbsp;and they will be my people.<br />
                <sup >34</sup>No longer will they teach their neighbor,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;or say to one another, ‘Know the <span class="small-caps" >Lord</span>
                ,’<br />because they will all know me,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;from the least of them to the greatest,”<br />
                declares the <span class="small-caps" >Lord</span>.<br />
                “For I will forgive their wickedness<br />&nbsp;&nbsp;&nbsp;&nbsp;and will remember their sins no more.”
            </div>
            <p>
                <br />
                <a class="readmore" 
                    href="https://biblegateway.com/passage/?search=Jeremiah%2031:31-34&amp;version=NIV">
                    Read More
                </a>
                <br />
                <br />
            </p>
            <p class="myfriends-reference">Isaiah 59:1-2</p>
            <div>
                Surely the arm of the <span class="small-caps" >Lord</span>
                is not too short to save,<br />&nbsp;&nbsp;&nbsp;&nbsp;nor his ear too dull to hear.<br />
                <sup >2</sup>But your iniquities have separated<br />
                &nbsp;&nbsp;&nbsp;&nbsp;you from your God;<br />your sins have hidden his face from you,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;so that he will not hear.
            </div>
            <p>
             <div>       
                 <br />
                <a class="readmore" href="https://biblegateway.com/passage/?search=Isaiah%2059:1-2&amp;version=NIV">
                    Read More</a><br /><br />
            </p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="myfriends-biblestudy">General questions:</h2>
        <ul>
            <li>Is there anything that struck you in this text?</li>
            <ul><li>What do you like about it?</li>
                <li>Is there anything in it that bothers you?</li></ul>
                <li>&nbsp;What does it say about God?</li>
                <li>What does it say about people?</li>
            </ul>
        </ul>
        <h2 class="myfriends-biblestudy">Specific questions</h2>
        < ul>
            <li>What sins do we need God‘s forgiveness for? Our personal sins or the&nbsp; &nbsp;
                general sin of humanity (rejecting God and choosing to listen to the snake) or both?</li>
        </ul>
        <p>▶ Read the first paragraph of the commentary after&nbsp; discussing the preceding question.</p> 
    </div>
           

 </html>