<html>
  <div id="mycontent" dir="ltr">
    <p dir="ltr">
      Important decisions in our lives are celebrated with the people who are
      matter to us. The decision to follow Jesus is celebrated in baptism.
    </p>
    <p dir="ltr">
      We talked about the significance of baptism in
      <a href="/content/eng/myfriends/basics110.html">
        Conversation 10: New Life
      </a>
    </p>
    <p dir="ltr">
      Why don’t you organise a baptism party where you can invite your family,
      friends and community? That will give baptism the significance it deserves
      and provides a good opportunity for friends who don’t believe in Jesus to
      meet Him.
    </p>
    <p dir="ltr">
      <a
        href="https://api.arclight.org/videoPlayerUrl?refId=1_529-jf6104-0-0&amp;apiSessionId=582b970f211da4.20714582&amp;playerStyle=default&amp;player=bc.vanilla5"
      >
        This video clip
      </a>
      shows the way Jesus was baptized.
    </p>
    <p dir="ltr"></p>
    <p dir="ltr">
      Here are some questions and notes which might help you plan your baptism
      party:
    </p>
    <ul dir="ltr">
      <li>Who do you want to invite?</li>
      <li>When would be a convenient time for these people to come?</li>
      <li>Where would these people feel comfortable?</li>
      <li>
        Where will you find the water for baptism? A pool? The ocean? A
        baptismal fount? A bowl?
      </li>
      <li>
        Who do you want to baptise you? How about one of your friends who shared
        in your faith journey?
      </li>
      <li>
        Before you are baptised you might want to tell the group part of your
        spiritual journey. You might be more relaxed if you write out what you
        want to say in advance.
      </li>
      <li>
        Do you want anyone else to say something about the significance of
        baptism?
      </li>
      <li>
        The Bible says we should baptise people "in the name of the Father and
        of the Son and of the Holy Spirit".
      </li>
      <li>
        You may want a towel to dry off with and a change of clothes for after
        your baptism.
      </li>
      <li>Do you want to serve food? What type?</li>
      <li>
        How will you find out what your friends thought of your baptism? Which
        of these want to know more about Jesus?
      </li>
    </ul>
    <p dir="ltr">
      <br />
      <br />
    </p>
  </div>
</html>
