<html>
  <div id="mycontent" dir="ltr">
    <p dir="ltr">
      Design your own journey. Faith is meant to be lived out in community. Here
      is an outline that you can follow with any Bible passage once you have
      completed Journey One.
    </p>
    <div class="lesson" dir="ltr">
      <img src="/images/sharing-life.png" class="lesson-icon" />
      <div class="lesson-subtitle">SHARE</div>
    </div>
    <ol class="ltr" dir="ltr">
      <li>How have you experienced God this week?</li>
      <li>What are you thankful for?</li>
      <li>What do you need God’s help for?</li>
      <li>How can we help you with your needs?</li>
      <li>Pray for each other</li>
    </ol>
    <div class="lesson" dir="ltr">
      <img src="/images/review.png" class="lesson-icon" />
      <div class="lesson-subtitle">REVIEW</div>
    </div>
    <ol class="ltr" dir="ltr" start="6">
      <li>What have you put into practice since our last meeting?</li>
      <li>
        How are the people that you are caring for going? What would help them
        most?
      </li>
      <li>
        Were you able to share a God experience with anyone? Did you pray with
        them?
      </li>
      <li>Pray for these people</li>
    </ol>
    <div class="lesson" dir="ltr">
      <img src="/images/bible-study.png" class="lesson-icon" />
      <div class="lesson-subtitle">READ</div>
      \
    </div>
    <ol class="ltr" dir="ltr" start="10">
      <li>Read the passage aloud twice.</li>
      <li>
        Have one person retell the passage in their own words with the group’s
        help.
      </li>
      <li>Was there anything missed or added?</li>
    </ol>
    <div id="bible" class="bible" dir="ltr">
      <strong>
        <a
          target="a_blank"
          href="https://www.biblegateway.com/quicksearch/?quicksearch=Luke&qs_version=NIV"
        >
          SELECT A BIBLE PASSAGE
        </a>
      </strong>
    </div>
    <p dir="ltr">
      <br />
      <br />
    </p>
    <div class="lesson" dir="ltr">
      <img src="/images/bible-study.png" class="lesson-icon" />
      <div class="lesson-subtitle">DISCOVER</div>
    </div>
    <ol class="ltr" dir="ltr" start="13">
      <li>What stands out for you in this passage?</li>
      <li>What do you like and what bothers you in this passage?</li>
      <li>What does this passage tell you about God and people?</li>
    </ol>
    <div class="lesson" dir="ltr">
      <img src="/images/challenges.png" class="lesson-icon" />
      <div class="lesson-subtitle">APPLY</div>
    </div>
    <ol class="ltr" start="16">
      <li>
        Ask God what He wants you to do in response to the passage. Is there:
        <ul>
          <li>A behaviour to change?</li>
          <li>A promise to claim?</li>
          <li>An example to follow?</li>
          <li>A command to obey?</li>
        </ul>
      </li>
      <li>Share this with the group</li>
    </ol>
    <p class="myfriends-ltr copyright" />
  </div>
</html>
