<html>
  <div id="mycontent" dir="ltr">
    <p class="myfriends-lesson_start">
      These four points explain how you can begin a relationship with God, right
      now...
    </p>
    <p>
      <br />
      <br />
    </p>
    <div class="lesson">
      <img src="/images/gospel/1.png" class="lesson-icon" />
      <div class="lesson-subtitle">GOD LOVES ME</div>
    </div>
    <p class="myfriends-gospel-text">
      God totally loves you! His love is boundless and unconditional. There is
      nothing God wants more than for you to experience His love and to discover
      the purpose of your life in your relationship to Him.
    </p>
    <p class="myfriends-bible-text">
      And so we know and rely on the love God has for us. God is love. Whoever
      lives in love lives in God, and God in them. (1 John 4:16)
    </p>
    <ul>
      <li>Do you believe that God has created you in His own Image?</li>
      <li>
        Do you believe that God has a perfect plan for your life and that He
        loves you with His unconditional love?
      </li>
    </ul>
    <p>
      <br />
      <br />
    </p>
    <div class="lesson">
      <img src="/images/gospel/2.png" class="lesson-icon" />
      <div class="lesson-subtitle">I HAVE SINNED</div>
    </div>
    <p class="myfriends-gospel-text">
      We cannot experience God’s love when we ignore Him. We oft en seek purpose
      and fulfilment without God. We choose not to trust Him and ignore His
      rules. The Bible calls this sin. Sin destroys our relationships with each
      other and God.<br />
      <br />
      Sin separates us from the life that God has planned for us.
    </p>
    <p class="myfriends-bible-text">
      for all have sinned and fall short of the glory of God (Romans 3:23)
    </p>
    <p class="myfriends-bible-text">
      But your iniquities have separated you from your God; your sins have
      hidden his face from you, so that he will not hear. (Isaiah 59:2)
    </p>
    <ul>
      <li>
        Are you aware that you have been separated from God and have failed to
        be right before him?
      </li>
      <li>Have you turned from your old ways and from your unbelief?</li>
    </ul>
    <p>
      <br />
      <br />
    </p>
    <div class="lesson">
      <img src="/images/gospel/3.png" class="lesson-icon" />
      <div class="lesson-subtitle">JESUS DIED FOR ME</div>
    </div>
    <p class="myfriends-gospel-text">
      Our sin does not stop God from loving us. He even came to earth in human
      form as Jesus Christ to die for us. On the cross, Jesus took the
      punishment for our sins on Himself. Jesus died – but He came back to life
      again! He has reconciled us to God. Through faith we can experience God’s
      love and receive eternal life.
    </p>
    <p class="myfriends-bible-text">
      For God so loved the world that he gave his one and only Son, that whoever
      believes in him shall not perish but have eternal life. (John 3:16)
    </p>
    <p class="myfriends-bible-text">
      For Christ also suffered once for sins, the righteous for the unrighteous,
      to bring you to God. He was put to death in the body but made alive in the
      Spirit. ( 1 Peter 3:18)
    </p>
    <ul>
      <li>
        Do you believe that Jesus Christ is the Son of God, who came to save us
        and to make us right with God? He died, rose again and is now seated at
        the right hand of God in Heaven.
      </li>
      <li>
        Do you believe that you die with Him and therefore you also live with
        and in Him?
      </li>
      <li>
        Trusting Jesus means asking Jesus to come into your life and giving Him
        the first place. Read Revelation 3:20. Do you want to open your heart
        for Him?
      </li>
    </ul>
    <p class="myfriends-bible-text">
      Here I am! I stand at the door and knock. If anyone hears my voice and
      opens the door, I will come in and eat with that person, and they with
      me.(Revelation 3:20)
    </p>
    <p>
      <br />
      <br />
    </p>
    <div class="lesson">
      <img src="/images/gospel/4.png" class="lesson-icon" />
      <div class="lesson-subtitle">I NEED TO DECIDE</div>
    </div>
    <p class="myfriends-gospel-text">
      God has done everything possible to show us how much he loves us. He
      offers us a fulfilled and eternal life through Jesus Christ. Every person
      is challenged to make a decision. We can ask God to forgive us for living
      our way. And we can decide to live a life with God by trusting Jesus.
    </p>
    <p class="myfriends-bible-text">
      Yet to all who did receive him, to those who believed in his name, he gave
      the right to become children of God. (John 1:12)
    </p>
    <p class="myfriends-gospel-text">
      Have you decided to follow Jesus wherever he goes and have you accepted
      Jesus Christ as your Lord and Saviour for your life?
    </p>

    <p class="myfriends-gospel-text">
      <br />
      <a onclick="QuestionSend()" href="#">
        <em>
          I may want to respond to Jesus, but I have a question I would like
          answered first...
        </em>
      </a>
    </p>
    <div class="myfriends-share" />
    <div class="myfriends-share">
      <div class="myfriends-share">A PRAYER YOU CAN SAY</div>
      <div class="myfriends-share" />
      <div class="myfriends-share">
        If&nbsp; you want to, you can say this simple prayer:
      </div>
      <div class="myfriends-share" />
      <div class="myfriends-share">
        "Dear God, thank You for loving me. I realize that I have lived without
        You until now. I’m really sorry about that. Jesus Christ, thank You for
        forgiving me for going my own way and for all my sins and that You died
        for me and rose from the dead. I want to trust You, and I ask You: Come
        into my life.&nbsp;Be my Savior and Lord. Let me experience Your love
        and Your good intentions for my life. I thank You. Amen."
      </div>
    </div>
    <div class="myfriends-share" />
    <div class="myfriends-share">
      <a href="https://myfriends.network/content/eng/myfriends/celebrate.html">
        Let's Celebrate!
      </a>
    </div>
    <p class="myfriends-gospel-text">
      Symbols and content used with permission of THE FOUR, www.thefour.com
    </p>
    <p class="myfriends-copyright" />
    <p class="myfriends-lesson_end" />
  </div>
</html>
