;<html>
  <div class="lesson">
    <img class="lesson-icon" src="/images/sharing-life.png" />
    <div class="lesson-subtitle">SHARE</div>
  </div>
  <div class="ol">
    <ol class="ltr">
      <li>What are you thankful for?</li>
      <li>How have you experienced God this week?</li>
      <li>What do you need God’s help for?</li>
      <li>How can we help you with your needs?</li>
      <li>Pray for each other</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/review.png" />
    <div class="lesson-subtitle">REVIEW</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="6">
      <li>What have you put into practice since our last meeting?</li>
      <li>
        Were you able to share a God experience with anyone? Did you pray with
        them?
      </li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/bible-study.png" />
    <div class="lesson-subtitle">READ</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="8">
      <li>Read the passage aloud twice.</li>
      <li>
        Have one person retell the passage in their own words with the group’s
        help.
      </li>
      <li>Was there anything missed or added?</li>
    </ol>
  </div>
  <div id="bible">
    <div class="bible">
      <p class="reference">[BibleReference]</p>
      <p class="replace">[BibleText]</p>

      <br />
      <a
        href="https://biblegateway.com/passage/?search=Luke%2018:18-30&amp;version=NIV"
        external="1"
        class="readmore"
      >
        Read More <span class="replace">[REPLACE LINK]</span>
      </a>
      <br />
      <br />
    </div>
  </div>

  <div class="lesson">
    <img class="lesson-icon" src="/images/discover.png" />
    <div class="lesson-subtitle">DISCOVER</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="11">
      <li>What stands out for you in this passage?</li>
      <li>What do you like and what bothers you in this passage?</li>
      <li>What does this passage tell you about God and people?</li>
      <li>What does this passage say about the topic you selected?</li>
    </ol>
  </div>
  <div class="lesson">
    <img class="lesson-icon" src="/images/challenges.png" />
    <div class="lesson-subtitle">APPLY</div>
  </div>
  <div class="ol">
    <ol class="ltr" start="15">
      <li>
        What are some possible ways a person could apply this passage? Is there:
        <ul>
          <li>A behaviour to change?</li>
          <li>A promise to claim?</li>
          <li>An example to follow?</li>
          <li>A command to obey?</li>
        </ul>
      </li>
      <li>Ask God what He wants you to do in response to the passage.</li>
      <li>Share this with the group</li>
    </ol>
  </div>
  <div id="background_note" />
</html>
