<html>
  <p class="top">Intro</p>

  <p>
    First Steps is foundational follow up material to help ground new Christians
    in their faith, and to take their first steps in their relationship with
    God. Our desire is to ground new Christians in their identity in Christ and
    help equip them to share their faith with others.
  </p>

  <p>
    The First Steps materials are designed to be relevant to the way most people
    learn:
  </p>
  <ul>
    <li>Connecting with others</li>
    <li>Discussing and sharing together around a key topic</li>
    <li>Considering their own life stories</li>
    <li>Identifying personal application</li>
  </ul>
  <p>
    The aim of each session is to have a directed conversation around a key
    passage of Scripture. Your role as a leader is to guide the group in
    discovering truth together, you don’t need to be a teacher or a biblical
    scholar.
  </p>
  <p>
    A good rule of thumb in this setting is to have the new Christians speaking
    70% of the time and you about 30%. Your role as a leader is to allow the
    Holy Spirit to help them discover what the passage is teaching.
  </p>

  <p>
    If there is a lot of discussion in some areas or the group needs more time
    to explore a particular concept, it’s ok to break the session into two parts
    and do it over two weeks.
  </p>
  <h2>Session Format</h2>
  <p>
    The Framework for First Steps uses an approach known as Three Thirds. These
    three sections are <span class="color-back">‘Look Back’</span>,
    <span class="color-up">‘Look Up’</span>,
    <span class="color-forward">‘Look Forward’</span>. These form the
    basic structure of each session and make it easy to remember and explain to
    others.
  </p>

  <h2 class="lookback">Look Back</h2>
  <p>
    This is where the group spend time connecting, catching up and sharing how
    things have gone since the previous meeting. Group members get to show care
    for others and learn what it means to be accountable. It’s important to make
    sure everyone in the group is given a chance to share.
  </p>
  <p>
    You may choose to have the group pray for each other after sharing, or you
    could write down what people share and pray together later. At first people
    might feel uncomfortable praying together but encourage people to have a go
    and as time goes on make sure it’s not just you praying. As people share, if
    there are ways the group can help with needs that arise, let people offer to
    do so. Do not do everything for the group members – let other group members
    step up and show tangible concern for their co-members and community. Some
    helpful questions for this stage are:
  </p>
  <ul class="ol-back">
    <li class="back">What’s been going on for you since we last met?</li>
    <li class="back">Is there anything you would like prayer for?</li>
    <li class="back">
      Is there anything going on for you that we could help you with?
    </li>
    <li class="back">
      What needs have you noticed in our community, in your family or amongst
      your friends recently? Is there something you/we could do to help with in
      that area?
    </li>
    <li class="back">
      How did you go with the application from our last session?
    </li>
    <li class="back">
      Who did you share with about what you learned in our last session?
    </li>
    <li class="back">
      Were you able to help with any needs you had noticed and shared in our
      last session?
    </li>
  </ul>
  <h2 class="lookup">Look Up</h2>
  <p>
    Look Up is looking to God and His Word. You’ll look at a passage of
    Scripture or review core concepts together and explore what it says and
    means. Begin by explaining the key purpose of the session, which can be
    found at the beginning of that session’s leader's notes. You’ll also need to
    read through the Scripture passage a couple of times. The first time is so
    people can hear it and have a chance to clarify any unknown words and the
    second time is to help reinforce what has been heard. It can be helpful the
    second time through for people to simply ‘listen’.
  </p>
  <p>&nbsp;</p>
  <p>
    To help new Christians learn how to study the Bible on their own, we are
    trying to get them to ask a general set of questions of the passage. Some of
    these questions are:
  </p>
  <ul class="ol-up">
    <li class="up">Was anything difficult to understand?</li>
    <li class="up">
      Is there anything in this passage that is meaningful to you?
    </li>
    <li class="up">
      What does today’s passage tell us about God? About people? About God’s
      relationship with us?
    </li>
    <li class="up">
      How do you think this passage relates to the topical question at the
      start?
    </li>
    <li class="up">
      Do you have any other questions or comments about this passage?
    </li>
    <li class="up">
      How would you summarise what we have learned today?
    </li>
  </ul>
  <h2 class="lookback">Look Forward</h2>
  <p>
    Look Forward is the part of the session where the group clarify application
    points from the passage. They are also given the chance to think about with
    whom they can share what they are learning. Application points should
    hopefully flow naturally from the Look Up section as people have engaged
    with the key passage and discussed observations, answered questions and
    shared their own thoughts/ideas. We want to end strongly as the application
    part of the session is what will help truly ground a new believer in the
    truths of their new faith. The application should be simple, measurable,
    achievable, realistic and time-bound (SMART). It should be clear enough that
    when the group meets again you can ask if they were able to do what they
    said they would do. Here are a few ways you can help people to identify
    Application points for themselves:
  </p>
  <ul class="ol-forward">
    <li class="forward">
      Using an ‘I will’ statement. At the end of each session asking everyone to
      share an ‘I will statement ’, ie
      <ul>
        <li>
          ‘I will thank God daily for the assurance I have of His Salvation’,
        </li>
        <li>
          ‘I will ask God each day to show me what need I can meet in the life
          of a loved one/friend’.
        </li>
      </ul>
    </li>
    <li class="forward">
      Write down a lesson learned from today’s session.
    </li>
    <li class="forward">
      Identify who they will share with about what has been learnt today.
    </li>
  </ul>
  <p class="bold">Closing out the session</p>
  <p>
    At the conclusion, summarise the lesson. Then end in prayer for one another,
    that they would apply what they have learned, and be able to share the story
    with someone else. Set the time and place for the next meeting, and remind
    them to feel free to invite others to join the group.
  </p>
  <br /><br /><br />
</html>
