<html>
  <h2>What is your next step?</h2>
  <p>Following Jesus is a lifelong adventure.</p>
  <p>
    You will continue to be transformed by Jesus and He will continue to work
    through you to transform the people around you.
  </p>
  <p>
    Visit these websites to learn about opportunities for training, coaching and
    service around the world. We want to help you be effective in connecting
    people to Jesus and to each other.
  </p>
  <br />
  <br />
  <hr />
  <br />
  <br />
  <p>
    <img class="next" src="https://www.everyperson.com/img/eplogo.jpg" />
  </p>
  <p>A Safe Place to Explore Questions About Life and God</p>
  <p>
    <a href="https://www.everyperson.com">www.everyperson.com</a>
  </p>
  <br />
  <br />
  <hr />
  <br />
  <br />
  <p>
    <img class="next" src="/images/firststeps/mylanguage.jpg" />
  </p>
  <p>
    Learn about God using your preferred learning style: listen, watch, read,
    study or ask questions
  </p>
  <p>
    <a href="https://mylanguage.net.au/intro/eng00">mylanguage.net.au</a>
  </p>
  <br />
  <br />
  <hr />
  <br />
  <br />
  <p>
    <img class="next" src="/images/firststeps/bible_study.png" />
  </p>
  <p>Creation to Christ</p>
  <p>An overview of the Bible and what God has done for us.</p>
  <p>
    <a href="https://mylanguage.net.au/dbs_home/eng00">
      Discuss with your friends
    </a>
  </p>
  <br />
  <br />
  <hr />
  <br />
  <br />
  <p>
    <img class="next" src="/images/firststeps/godtools.png" />
  </p>
  <p>
    Looking for an easy way to share the gospel with those around you? God Tools
    puts some of the most effective and widely used evangelistic tools of all
    time on your smartphone and on the web.
  </p>
  <p>
    <a href="https://godtoolsapp.com">God Tools</a>
  </p>
  <br />
  <br />
  <hr />
  <br />
  <br />
  <p>
    <img class="next" src="/images/firststeps/JesusMedia.png" />
  </p>
  <p>
    The Jesus Film Project app is a full digital library of more than 200
    full-length movies, miniseries, and short films produced to help the world
    know Jesus better. Everything on the app is free to watch, download, and
    share with anyone you meet, wherever you meet them.
  </p>
  <p>
    <a href="https://www.jesusfilm.org/app">Jesus Film Project App</a>
  </p>
</html>
