<html>
  <div class="lesson">
    <img class="lesson-icon" src="/images/firststeps/look-back.png" />
    <div class="lesson-lookback">Look Back</div>
  </div>
  <ol class="ol-back">
    <li>What are you thankful for this week?</li>
    <li>What are you struggling with and how can we help?</li>
    <li>What needs have you noticed in our community/campus/school?</li>
  </ol>
  <br />
  <p class="prayer">
    <img class="lesson-point" src="/images/firststeps/pray.png" />It
    would be good to pray for each other around these needs.
  </p>
  <ol start="4" class="ol-back">
    <li>How did you apply the lesson from last week?</li>
    <li>Who did you share the story with, and what was their response?</li>
  </ol>

  <div class="lesson">
    <img class="lesson-icon" src="/images/firststeps/look-up.png" />
    <div class="lesson-lookup">Look Up</div>
  </div>
  <p class="key">
    <span class="key"
      ><img
        class="lesson-point"
        src="/images/firststeps/question.png"
      />Key Question:</span
    >&nbsp;How do we live out the Christian life when it can seem so difficult
    at times?
  </p>
  <p class="bold">
    <span class="bold"
      ><img
        class="lesson-point"
        src="/images/firststeps/statement.png"
      />Statement:</span
    >&nbsp;In our own strength, we can’t live the way God wants us to live, but
    with his help through the Holy Spirit, we have the power to live the way God
    wants us to live.
  </p>
  <div class="bible-container">
    <p class="read">
      <img class="read" src="/images/firststeps/bible.png" />
      <a href="/content/eng/firststeps/satisfied.html"
        >Is there anything in this article that is meaningful to you?</a
      >
    </p>
  </div>
  <ol start="6" class="ol-up">
    <li>Was anything difficult to understand?</li>
    <li>
      What does today's article tell us about God? About people? About God's
      relationship with us?
    </li>
    <li>
      How do you think this article relates to the question we discussed
      earlier:<span class="italics"
        >&nbsp;“How do we live out the Christian life?”</span
      >
    </li>
    <li>Do you have any other questions or comments about this article?</li>
    <li>How would you summarise what we have learned today?</li>
  </ol>

  <p class="conclusion">Conclusion:</p>
  <p>&nbsp;</p>
  <p class="text-conclusion">
    By tapping in to the power available to us through the Holy Spirit, we are
    able to live the way God intended us to live. If we try to live this life in
    our own strength, we won’t be able to bear much fruit and live the way God
    wants us to live. We need to rely on the Holy Spirit every day.
  </p>
  <p class="text-conclusion">
    As we learned earlier, a helpful tool that will enable us to do this is a
    simple illustration around breathing. Just as we breath in oxygen and breath
    out carbon dioxide, so too we can breathe spiritually. Spiritual Breathing
    is simply this: We breathe out our sin, through confession (which we touched
    on a couple of weeks ago), and then we breath in by appropriating the power
    available to us through the Holy Spirit. If you do this regularly, you’ll be
    able to live the life God wants you to live.
  </p>

  <div class="lesson">
    <img class="lesson-icon" src="/images/firststeps/look-forward.png" />
    <div class="lesson-lookforward">Look Forward</div>
  </div>
  <p>
    The most important thing will be how we apply what we learn, and so we want
    to help each other find ways to do that. Some questions to help us do that:
  </p>

  <div class="forward-action">
    <ol start="13" class="ol-forward">
      <li>
        How could this or does this change how you will live? With God, self and
        others?
      </li>
      <li>
        What is one thing you would like to apply to your life from this week's
        discussion? What will you do to make that change?
      </li>
      <li>
        With whom will you share what you learned this week? What will you
        share?
      </li>
    </ol>
  </div>
  <br />
  <p>
    <a href="https://firststepswithgod.com/eng/print/7"
      >Download outline to print</a
    ><br />
    firststepswithgod.com/eng/print/7
  </p>
</html>
