<html>
  <div class="lesson">
    <img class="lesson-icon" src="/images/firststeps/look-back.png" />
    <div class="lesson-lookback">Look Back</div>
  </div>
  <ol class="ol-back">
    <li>What are you thankful for this week?</li>
    <li>What are you struggling with and how can we help?</li>
    <li>What needs have you noticed in our community/campus/school?</li>
  </ol>
  <br />
  <p class="prayer">
    <img class="lesson-point" src="/images/firststeps/pray.png" />It
    would be good to pray for each other around these needs.
  </p>
  <ol start="4" class="ol-back">
    <li>How did you apply the lesson from last week?</li>
    <li>Who did you share the story with, and what was their response?</li>
  </ol>

  <div class="lesson">
    <img class="lesson-icon" src="/images/firststeps/look-up.png" />
    <div class="lesson-lookup">Look Up</div>
  </div>
  <p class="key">
    <span class="key-span">
      <img class="lesson-point" src="/images/firststeps/question.png" />Key
      Question:
    </span>&nbsp;How can a person who has received Jesus know with certainty
    that we will spend eternity with God?
  </p>
  <p class="bold">
    <span class="statement-span">
      <img class="lesson-point" src="/images/firststeps/statement.png" />Statement:
    </span>&nbsp;You can know that you have a secure personal relationship with
    God?
  </p>
  <div class="bible-container">
    <p class="read">
      <img class="read" src="/images/firststeps/bible.png" />
      <span class="eng-verse">John 10:7-30</span>
    </p>
    <div class="bible">
      <p>
        <p>
          <sup class="versenum">7</sup>Therefore Jesus said again,
          ‘Very truly I tell you, I am the gate for the sheep.
          <sup class="versenum">&nbsp;8</sup>All who have come
          before me are thieves and robbers, but the sheep have not listened to
          them. <sup class="versenum">&nbsp;9</sup>I am the gate;
          whoever enters through me will be saved. They will come in and go out,
          and find pasture. <sup class="versenum">&nbsp;10</sup>The
          thief comes only to steal and kill and destroy; I have come that they
          may have life, and have it to the full.
        </p>
        <p>
          <sup class="versenum">11</sup>‘I am the good shepherd.
          The good shepherd lays down his life for the sheep.
          <sup class="versenum">&nbsp;12</sup>The hired hand is not
          the shepherd and does not own the sheep. So when he sees the wolf
          coming, he abandons the sheep and runs away. Then the wolf attacks the
          flock and scatters it.
          <sup class="versenum">&nbsp;13</sup>The man runs away
          because he is a hired hand and cares nothing for the sheep.
        </p>
        <p>
          <sup class="versenum">14</sup>‘I am the good shepherd; I
          know my sheep and my sheep know me&nbsp;–
          <sup class="versenum">&nbsp;15</sup>just as the Father
          knows me and I know the Father&nbsp;– and I lay down my life for the
          sheep. <sup class="versenum">&nbsp;16</sup>I have other
          sheep that are not of this sheepfold. I must bring them also. They too
          will listen to my voice, and there shall be one flock and one
          shepherd. <sup class="versenum">&nbsp;17</sup>The reason
          my Father loves me is that I lay down my life&nbsp;– only to take it
          up again. <sup class="versenum">&nbsp;18</sup>No one
          takes it from me, but I lay it down of my own accord. I have authority
          to lay it down and authority to take it up again. This command I
          received from my Father.’
        </p>
        <p>
          <sup class="versenum">19</sup>The Jews who heard these
          words were again divided.
          <sup class="versenum">&nbsp;20</sup>Many of them said,
          ‘He is demon-possessed and raving mad. Why listen to him?’
        </p>
        <p>
          <sup class="versenum">21</sup>But others said, ‘These are
          not the sayings of a man possessed by a demon. Can a demon open the
          eyes of the blind?’
        </p>
        <p>
          <strong>Further conflict over Jesus’ claims</strong>
        </p>
        <p>
          <sup class="versenum">22</sup>Then came the Festival of
          Dedication at Jerusalem. It was winter,
          <sup class="versenum">&nbsp;23</sup>and Jesus was in the
          temple courts walking in Solomon’s Colonnade.
          <sup class="versenum">&nbsp;24</sup>The Jews who were
          there gathered round him, saying, ‘How long will you keep us in
          suspense? If you are the Messiah, tell us plainly.’
        </p>
        <p>
          <sup class="versenum">25</sup>Jesus answered, ‘I did tell
          you, but you do not believe. The works I do in my Father’s name
          testify about me, <sup class="versenum">&nbsp;26</sup>but
          you do not believe because you are not my sheep.
          <sup class="versenum">&nbsp;27</sup>My sheep listen to my
          voice; I know them, and they follow me.
          <sup class="versenum">&nbsp;28</sup>I give them eternal
          life, and they shall never perish; no one will snatch them out of my
          hand. <sup class="versenum">&nbsp;29</sup>My Father, who
          has given them to me, is greater than all; no one can snatch them out
          of my Father’s hand. <sup class="versenum">&nbsp;30</sup>I
          and the Father are one.’
        </p>
      </p>
    </div>
    <span class="remove-pdf">
      <br />
      <br />
    </span>
    <div class="readmore">
      <p class="readmore">
        <a
          class="readmore"
          href="https://biblegateway.com/passage/?search=John%20%2010:7-30&amp;version=NIVUK"
        >
          Read More
        </a>
      </p>
    </div>
  </div>

  <ol start="6" class="ol-up">
    <li>Is there anything in this passage that is meaningful to you?</li>
    <li>Was anything difficult to understand?</li>
    <li>
      What does today's passage tell us about God? About people? About God's
      relationship with us?
    </li>
    <li>
      How do you think this passage relates to the question we discussed
      earlier:<span class="italics">
        &nbsp;"How can a person who has received Jesus know with certainty that
        he will spend eternity with God?"
      </span>
    </li>
    <li>Do you have any other questions or comments about this passage?</li>
    <li>How would you summarise what we have learned today?</li>
    <li>
      Can we see any similarities about what was going on at the time this
      passage was written to what we see in our community, families or
      friendships today?
    </li>
  </ol>

  <p class="conclusion">Conclusion:</p>
  <div class="bible-container">
    <p class="read">
      <img class="read" src="/images/firststeps/bible.png" />
      <span class="eng-verse">1 John 5:11-13</span>
    </p>
    <div class="bible">
      <p>
        <p>
          <span class="verse" dir="ltr">
            11
          </span><span class="bible" dir="ltr">
            And this is the testimony, that God gave us eternal life, and this
            life is in his Son.
          </span>
          <span class="verse" dir="ltr">
            12
          </span><span class="bible" dir="ltr">
            Whoever has the Son has life; whoever does not have the Son of God
            does not have life.
          </span>
          <span class="verse" dir="ltr">
            13
          </span><span class="bible" dir="ltr">
            I write these things to you who believe in the name of the Son of
            God that you may know that you have eternal life.
          </span>
        </p>
      </p>
    </div>
    <span class="remove-pdf">
      <br />
      <br />
    </span>
    <div class="readmore">
      <p class="readmore">
        <a class="readmore" href="https://bible.is/1John/5">
          Read More
        </a>
      </p>
    </div>
  </div>
  <p class="text-conclusion top">
    On the cross, Jesus, the Good Shepherd, laid down his life as a sacrifice
    for our sins. When we put our faith in Jesus as our Lord and Saviour, we
    became one of his sheep and began to follow him. He wants us to know that we
    have eternal life and nothing will take that from us. Do you know you have
    received Jesus into your life? Do you know for certain that you have eternal
    life?
  </p>

  <div class="lesson">
    <img class="lesson-icon" src="/images/firststeps/look-forward.png" />
    <div class="lesson-lookforward">Look Forward</div>
  </div>
  <p>
    The most important thing will be how we apply what we learn, and so we want
    to help each other find ways to do that. Some questions to help us do that:
  </p>
  <div class="forward-action">
    <ol start="13" class="ol-forward">
      <li>
        How could this or does this change how you will live? With God, self and
        others?
      </li>
      <li>
        What is one thing you would like to apply to your life from this week's
        discussion? What will you do to make that change?
      </li>
      <li>
        With whom will you share what you learned this week? What will you
        share?
      </li>
    </ol>
  </div>
  <br />
  <p>
    <a href="https://firststepswithgod.com/eng/print/2">
      Download outline to print
    </a>
    <br />
    firststepswithgod.com/eng/print/2
  </p>
</html>