<html>






    <div class="lesson">
<img class="lesson-icon" src = "/images/firststeps/look-back.png" />
<div class="lesson-lookback">Look Back</div>
</div>
<ol  class="ol-back">
<li >What are you thankful for this week?</li>
<li >What are you struggling with and how can we help?</li>
<li >What needs have you noticed in our community/campus/school?</li>
</ol><br />
<p class="prayer"><img class="lesson-point" src="/images/firststeps/pray.png" />It would be good to pray for each other around these needs.</p>
<ol start = "4" class="ol-back">
<li >How did you apply the lesson from last week?</li>
<li >Who did you share the story with, and what was their response?</li>
</ol>


    <div class="lesson">
<img class="lesson-icon" src = "/images/firststeps/look-up.png" />
<div class="lesson-lookup">Look Up</div>
</div>
<p class="key"> <span class="key-span"><img class="lesson-point" src="/images/firststeps/question.png" />Key Question:</span>&nbsp;How can we continue to grow in relationship with Jesus?</p>
<p class="bold"> <span class="statement-span"><img class="lesson-point" src="/images/firststeps/statement.png" />Statement:</span>&nbsp;As in any relationship, communication is key. God wants to communicate with us and for us to communicate with him.</p>
<div class="bible-container">
<p class="read">
<img class="read" src="/images/firststeps/bible.png" />
<span class="eng-verse">Acts 2:42-47</span>
</p>
<div class="bible">
<p><p><sup class="versenum">42</sup>They devoted themselves to the apostles’ teaching and to fellowship, to the breaking of bread and to prayer. <sup class="versenum">&nbsp;43</sup>Everyone was filled with awe at the many wonders and signs performed by the apostles. <sup class="versenum">&nbsp;44</sup>All the believers were together and had everything in common. <sup class="versenum">&nbsp;45</sup>They sold property and possessions to give to anyone who had need. <sup class="versenum">&nbsp;46</sup>Every day they continued to meet together in the temple courts. They broke bread in their homes and ate together with glad and sincere hearts, <sup class="versenum">&nbsp;47</sup>praising God and enjoying the favor of all the people. And the Lord added to their number daily those who were being saved.</p></p>
</div>
<span class="remove-pdf"><br /><br /></span>
<div class="readmore">
<p class="readmore">
<a class="readmore"  href="https://biblegateway.com/passage/?search=Acts%20%202:42-49&amp;version=NIV">Read More</a>
</p>
</div>
</div>
<ol start = "6"  class="ol-up">
<li >Is there anything in this passage that is meaningful to you?</li>
<li >Was anything difficult to understand?</li>
<li >What does today's passage tell us about God? About people? About God's relationship with us?</li>
<li >How do you think this passage relates to the question we discussed earlier:<span class="italics">&nbsp;“How do we continue to grow in relationship with Jesus?”</span></li>
<li >Do you have any other questions or comments about this passage?</li>
<li >How would you summarise what we have learned today?</li>
<li >Can we see any similarities about what was going on at the time this passage was written to what we see in our community, families or friendships today?</li>
</ol>

<p class="conclusion">Conclusion:<p>
<p class="text-conclusion">By talking to God through prayer, hearing from him through the Bible and gathering with other Christians, we can continue to grow in relationship with Jesus and get to know him better.</p>

    <div class="lesson">
<img class="lesson-icon" src = "/images/firststeps/look-forward.png" />
<div class="lesson-lookforward">Look Forward</div>
</div>
<p>The most important thing will be how we apply what we learn, and so we want to help each other find ways to do that. Some questions to help us do that:</p>
<div class="forward-action">
<ol start = "13" class="ol-forward">
<li>How could this or does this change how you will live? With God, self and others?</li>
<li>What is one thing you would like to apply to your life from this week's discussion? What will you do to make that change?</li>
<li>With whom will you share what you learned this week? What will you share?</li>
</ol>
</div>
<br />
<br /><p><a href = "https://firststepswithgod.com/eng/print/5">Download outline to print</a><br />
firststepswithgod.com/eng/print/5</p>

</html>