<html>
  <h2 class="first_steps top">
    <img class="large_point" src="/images/firststeps/bible.png" />Bible
  </h2>
  <p>
    One of the goals of First Steps is to help the participants read the Bible
    for themselves. This is one of the main reasons for adopting a one-passage
    approach to our sessions, so that they learn to read one story at a time,
    rather than flicking all over the Bible. One great way to help participants
    to get to know the Bible is to ensure they have a Bible themselves and
    wherever possible get them to read from that Bible during sessions. Help
    them find the passage each week and then get them to read along in their own
    Bible.
  </p>
  <h2 class="first_steps top">
    <img class="large_point" src="/images/firststeps/community.png" />Community
  </h2>
  <p>
    A great way to help ground a new Christian in their faith is to connect them
    to a Christian community. Ensure that you aren’t the only Christian they
    know, so take the opportunity to introduce them to your Christian friends,
    and invite them along to Church. If your Church wouldn’t work for them,
    offer to attend a local Church with them.
  </p>
  <h2 class="first_steps top">
    <img class="large_point" src="/images/firststeps/clarify.png" />Clarify
    Understanding
  </h2>
  <p>
    We need to assume nothing when working with a new Christian. This could be
    the first time they’ve ever read a Bible or heard any Bible stories, and the
    first time they've encountered some of the language we use as Christians. So
    keep this in mind as you interact with them. At all times, check to clarify
    understanding by either asking them if they’ve ever heard of certain
    concepts or words before or suggest to put things in their own words. Give
    them room to express the fact they don’t understand something, which can be
    as simple as changing your question from “Does that make sense?” to “What
    doesn’t make sense in what we just talked about?” This is especially
    important to keep in mind when we are interacting with people for whom
    English is not their first language.
  </p>
  <h2 class="first_steps top">
    <img class="large_point" src="/images/firststeps/gospel.png" />The Gospel
  </h2>
  <p>
    It’s important that everything you communicate speaks of the Gospel, rather
    than a set of rules that must be followed. Put everything in the context of
    a relationship with God. <br /><br /><br />
  </p>
</html>
